<!DOCTYPE html>
<html lang="ru">
<head>
</head>
<body>
<% include navbar %>
<div class="navbar-wrapper">
    <div class="container">
        <div class="container marketing">
            <h3 align = "center">Наиболее экономичный размер заказа</h3><br>
                <div class="alert alert-warning fit disp" id="invintation"><a href="/signup"  class="alert-link">Зарегестрируйтесь</a>&nbsp;&nbsp;для того, чтобы воспользоваться этим и другими полезными сервисами.</div>
            <p><b>Управление запасами </b>— одна из наиболее важных функций управления основной деятельностью, поскольку запасы требуют большого количества капитала, и его объем отражается на поставках товара покупателям. Управление запасами воздействует на все сферы бизнеса, в особенности на производство, маркетинг и финансы.</p><p>В теории управления запасами разработаны две основные системы управления : <br>1) система управления запасами с фиксированным размером заказа; <br>2) система управления запасами с фиксированным интервалом времени между заказами.</p>
            <p><b>Наш сервис</b> предназначен для расчета параметров системы управления запасами с фиксированным размером заказа.</p>
            <p><b>Экономичный размер заказа (формула Уилсона, EOQ-модель)</b> — модель, определяющая оптимальный объём заказываемого товара, который позволяет минимизировать общие переменные издержки, связанные с заказом и хранением запасов.</p>
            <br>Основные предположения<br>
            <ul>
                <li>Спрос на продукт известен.</li>
                <li> Время реализации заказа (поставки) известно и постоянно.</li>
                <li>Получение товара происходит мгновенно.</li>
                <li>В модели не учитываются оптовые скидки.</li>
                <li>Дефицит не допускается.</li>
            </ul>
                <img src="/images/costs.jpg" class="graph"/><br>
                <h6 align="center">Определение оптимального объема заказа</h6>
            <p>Рисунок показывает взаимоотношение между кривыми издержек размещения заказа, хранения запаса, кривой общих издержек и оптимальным размером заказа.</p>
            <p>К модели оптимального размера партии могут применяться некоторые расширения, позволяющие учесть издержки задалживания заказов и многономенклатурные запасы. Использовать данную формулу следует на самых весомых в обороте и стабильных товарах. Весомые товары — это группа A (ABC-анализ), стабильные товары — это группа X (XYZ-анализ).</p>
            <form>
                <% if(firm){%>
                <input type="hidden" id="firm" value = "true">
                <%} else{%>
                <input type="hidden" id="firm" value = "false">
                <%}%>
            </form>
            <button role="button" class="btn btn-warning btn-lg" id="to_planning">Перейти к планированию</button>


        </div><!-- /.container -->
    </div>
</div>
</body>
</html>