<!DOCTYPE html>
<html lang="ru">
<head>
</head>
<body>
<% include navbar %>
<div class="navbar-wrapper">
  <div class="container">

    <div class="container marketing">

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Транспортная логистика</h2>
          <p class="lead">Транспортная логистика – это управление транспортировкой грузов, т.е. изменением местоположения материальных ценностей с использованием транспортных средств. Внутренняя транспортная логистика занимается внутрипроизводственными перевозками, а внешняя транспортная логистика занимается снабжением предприятий и сбытом их продукции. При традиционном подходе к транспортировке, информационный поток движется вместе с материальным потоком от грузоотправителя, через экспедитора по транспортным средствам, и далее от экспедитора к грузополучателю. При таком подходе как транспортная логистика, к системе добавляется ещё один элемент – единый оператор интермодальных перевозок, который управляет информационным потоком и координирует действия.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive graph" src="images/man/1.jpg" alt="Транспортная логистика" width = "65%">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive graph" src="images/man/2.jpg" alt="Транспортная логистика" width = "50%">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Основная задача транспортной логистики</span></h2>
          <p class="lead"> состоит в обеспечении технической, технологической и экономической сопряженности участников транспортного процесса.
            Техническая сопряженность – согласованность в транспортном комплексе параметров транспортных средств.
            Технологическая сопряженность – предполагает применение единой технологии транспортировки и без перегрузочное сообщение.
            Экономическая сопряженность – общая методология исследования конъюнктуры рынка и построение тарифной системы.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Кроме этого, транспортная логистика имеет следующие задачи:</span></h2>
          <p class="lead">
            - Создание транспортных систем в транспортной логистике, в том числе транспортных коридоров и цепей;
            - Совместное планирование транспортных процессов на различных видах транспорта;
            - Совместное планирование транспортного процесса со складским и производственным процессом;
            - Выбор вида транспортного средства;
            - Транспортная логистика имеет и такую задачу как «выбор типа транспортировки»;
            - Определение рационального маршрута.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive graph" src="images/man/3.jpg" alt="Транспортная логистика" width = "65%">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive graph" src="images/man/4.png" alt="Транспортная логистика" width = "70%">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Принципы транспортной логистики - основная цель минимизация издержек на транспортировку:</span></h2>
          <p class="lead"> - Транспортная логистика содержит принцип максимально полного использования грузоподъемности подвижного состава в логистике;<br>
            - Имеет принцип кратности транспортируемой партии груза, единицам заказа, отправки и складирования;<br>
            - Транспортная логистика также включает принцип стандартизации тары;<br>
            - Принцип экономии от масштаба и дальности перевозок содержит транспортная логистика;<br>
            - Транспортная логистика также включает принцип концентрации грузопотоков на отдельных каналах - распределение и отказ от неэкономичных товаров;<br>
            - Также не обходится без принципа доставки грузов точно в срок.</p>
        </div>
      </div>

      <hr class="featurette-divider">

    </div><!-- /.container -->
  </div>
</div>
</body>
</html>