<!DOCTYPE html>
<html lang="ru">
<head>
</head>
<body>
<% include navbar %>

<div class="navbar-wrapper">
    <div class="container">
        <div class="container marketing fit">
            <br>
                <div class="col-lg-4">
                    <a href="/content_management/cargo"><img class="img-circle size_circle" src="images/cargo.jpg" alt="Виды грузов"></a>
                    <h2 align="center">Виды грузов</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a href="/content_management/transport"><img class="img-circle size_circle" src="images/transport.jpg" alt="Транспорт"></a>
                    <h2 align="center">Транспортные<br>средства</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a href="/content_management/firms"><img class="img-circle size_circle" src="images/user.jpg" alt="Пользователи"></a>
                    <h2 align="center">Статистика использования</h2>
                </div><!-- /.col-lg-4 -->


        </div><!-- /.container -->
    </div>
</div>
</body>
</html>