.notFound{
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
}

p{
    text-indent: 30px;
    font-size: 13pt;
}

li{
    font-size: 13pt;
}

.li-nav{
    font-size: 11pt;
}

div.col-lg-8, div.col-lg-7, div.col-lg-3{
    padding-left: 0px;
    padding-right: 0px;
}

div.col-lg-5{
    padding-top: 10px;
    padding-left: 0px;
}

div.col-lg-4{
     padding-right: 0px;
 }

.input-group-addon:last-child{
     margin: 0px;
     padding-left: 3px;
     padding-right: 3px;
     padding-bottom: 0px;
     padding-top: 0px;
 }

.sum{
    font-size: 19px;
}

.results{
    font-size: 17px;
}

.res_span{
    font-size: 15px;
}

.summ_sign{
    width: 100px;
    margin-left: 60px;
}

.disp, div.adp{
	display: none;
}

.error-class{
    color: orange;
}

.fit{
    width: 85%;
    margin: auto;
}

.graph{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.account{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.chart{
    display: inline-block;
    width: 49.7%;
    margin-left: auto;
    margin-right: auto;
}

.toggleForm {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.size_circle{
   margin-left: 20%;
   width: 200px;
   height: 200px;
}

.sticker{
   margin-top: 22%;
   margin-left: -15%;
   width: 100%;
}

.stick{
   font-size: 15pt;
}

body{
    background-image: url(../images/bg.jpg);
    overflow-x: hidden;
}

.index{
    background: url(../images/downloads-bg.jpg);
}

.bg{
    background: url(../images/news-bg1.jpg);
}

.reg-bg{
    background: url(../images/reg-bg.jpg);
}

.log-bg{
    background: url(../images/sign.jpg);
}

.inline{
    display: inline-block;
}

.right_btn{
    margin-left: 87%;
}

.thumbnail{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.newsimg{
    margin-left: 15%;
    width: 70%;
}

.news_header{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}